@font-face {
  font-family: 'Retro Gaming';
  src: url('Fonte/Retro Gaming.woff2') format('woff2'),
       url('Fonte/Retro Gaming.woff') format('woff'),
       url('Fonte/Retro Gaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Retro Gaming", sans-serif;
  font-family: "Poppins", sans-serif;
}


/* Estilo para o body */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Impedir rolagem horizontal */
  background-color: #3c454e;
  font-family: "Retro Gaming", sans-serif;
}


/* Banner do jogo*/

.banner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Ajustes do Header*/

header  {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}


.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
}

.logo img {
  width: 190px;
  height: 28x;
}

/* Navegação Home, sobre e documentação */
.nav {
  display: flex;
  gap: 30px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav a:hover {
  background-color: #339878;
  color: white;
}

/* Redes sociais no header */

.socialmedia {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 41px;
  height: 38px;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.socialmedia img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Conteúdo principal */

/* Conteúdo principal */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

/* Logo do T-Rex Evolution */
.logoTrex img {
  width: 500px;
  height: 256px;
  margin-top: 10px;
  object-fit: contain; /* Isso vai garantir que a imagem seja ajustada sem cortar */
}

/* Botão de jogo (imagem clicável) */
.buttomGame a img {
  width: 352px;
  height: 140px;
  margin-top: 10px;
  transition: transform 0.3s;
}

.buttomGame a img:hover {
  transform: scale(1.1);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  /* Ajustar logo para telas médias (até 768px) */
  .logoTrex img {
    width: 80vw; /* Logo ocupa 80% da largura da tela */
    max-width: 400px; /* Máximo de largura para logo */
  }

  /* Ajustar o botão de jogo para telas médias */
  .buttomGame a img {
    width: 80vw; /* O botão ocupa 80% da largura da tela */
    max-width: 352px; /* Ajuste conforme necessário */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  /* Ajustar logo para telas menores (até 480px) */
  .logoTrex img {
    width: 60vw; /* Logo ocupa 70% da largura da tela */
    max-width: 400px; /* Máximo de largura para logo */
  }

  /* Ajustar o botão de jogo para telas menores */
  .buttomGame a img {
    width: 60vw; /* O botão ocupa 80% da largura da tela */
    max-width: 352px; /* Ajuste conforme necessário */
  }
}

@media (max-width: 380px) {
  .container {
    padding: 5px;
  }

  /* Ajustar logo para telas extra pequenas (até 380px) */
  .logoTrex img {
    width: 60vw; /* Logo ocupa 60% da largura da tela */
    max-width: 400px; /* Máximo de largura para logo */
  }

  /* Ajustar o botão de jogo para telas extra pequenas */
  .buttomGame a img {
    width: 60vw; /* O botão ocupa 70% da largura da tela */
    max-width: 352px; /* Ajuste conforme necessário */
  }
}



/* Menu Hambúrguer */

.menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px; /* No canto direito */
}

.menu-toggle img {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%; /* A largura será 50% da tela */
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px; /* Espaço para o cabeçalho */
}

.mobile-menu.active {
  display: flex;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-mobile a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav-mobile a:hover {
  background-color: #339878;
}

.socialmedia-mobile {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.socialmedia-mobile a {
  text-decoration: none;
}

.socialmedia-mobile img {
  width: 41px;
  height: 38px;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.socialmedia-mobile img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Botão de Fechar */

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn span {
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 768px) {
  .nav,
  .socialmedia {
    display: none; /* Esconde a navegação e redes sociais em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o hambúrguer em telas pequenas */
  }
}

@media (max-width: 480px) {
  .nav,
  .socialmedia {
    display: none; /* Esconde a navegação e redes sociais em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o hambúrguer em telas pequenas */
  }
}

@media (max-width: 360px) {
  .nav,
  .socialmedia {
    display: none; /* Esconde a navegação e redes sociais em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Exibe o hambúrguer em telas pequenas */
  }
}


.Container1 {
  padding: 30px 30px;
  
}
  
  
  .Texto {
    margin-top: 180px; /* Espaçamento entre o header e a div Container1 */
    color: #ffffff;
    z-index: 1;
    position: relative; /* Necessário para o z-index funcionar */ 
    margin-right: 30px;
    margin-left: 30px;
   
  }
  
  .Texto .titulo {
    font-size: 30px;
  }
  
  .Texto .subtitulo {
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Retro Gaming', sans-serif;
  }
  
  /* Responsividade para telas menores (mobile) */
@media (max-width: 768px) {
  .Texto {
    margin-top: 30px; /* Reduz o espaçamento entre o header e a div Container1 */
  }

  .Texto .titulo {
    font-size: 26px; /* Ajusta o tamanho da fonte do título em telas menores */
  }

  .Texto .subtitulo {
    font-size: 30px; /* Ajusta o tamanho da fonte do subtítulo em telas menores */
  }
}

/* Responsividade para telas muito pequenas (ex: celulares pequenos) */
@media (max-width: 480px) {
  .Texto {
    margin-top: 20px; /* Reduz ainda mais o espaçamento em telas muito pequenas */
  }

  .Texto .titulo {
    font-size: 22px; /* Reduz o tamanho da fonte do título em telas pequenas */
  }

  .Texto .subtitulo {
    font-size: 26px; /* Reduz o tamanho da fonte do subtítulo em telas pequenas */
  }
}
  
   /* Conteudo + Img */
.Conteudo {
  margin-top: 40px;
  display: flex;              /* Alinha os itens na horizontal */
  justify-content: space-between; /* Espaço entre o texto e o vídeo */
  align-items: center;        /* Alinha verticalmente no centro */
  gap: 20px;                  /* Espaçamento entre os elementos */
  margin-right: 30px;
  margin-left: 30px;
}

/* Estilos do texto */
.Texto-conteudo {
  color: #ffffff;
  flex: 1;                    /* O texto ocupa o espaço disponível */
  max-width: 50%;             /* Limita a largura do texto a no máximo 50% */
  z-index: 1;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  text-align: justify; /* Justifica o texto */
  margin-right: 20px; /* Espaço entre o texto e o vídeo */
}

/* Estilos para o iframe (vídeo do YouTube) */
iframe {
  width: 100%;               /* O iframe ocupa 100% da largura disponível */
  max-width: 600px;          /* Limita a largura máxima do vídeo */
  height: 416px;              /* Altura ajustada automaticamente para manter proporção */
  aspect-ratio: 16/9;        /* Proporção 16:9 para o vídeo */
  margin-left: 20px;         /* Espaço à esquerda do vídeo */
}

/* Responsividade */
@media (max-width: 768px) {
  .Conteudo {
    margin-right: 20px;     
    margin-left: 20px;       
    flex-direction: column;   /* Muda a direção para coluna em telas pequenas */
    align-items: center;      /* Alinha os itens ao centro */
    gap: 10px;                /* Menos espaço entre os itens */
  }

  .Texto {
    margin-right: 20px;    
    margin-left: 20px;     
  }
  .Texto-conteudo, iframe {
    max-width: 100%;          /* Ambos os itens ocupam 100% da largura em telas pequenas */
  }

  .Texto-conteudo {
    margin-right: 0;          /* Remove a margem à direita do texto */
    margin-bottom: 20px;      /* Adiciona margem abaixo do texto para separar da imagem */
  }

  iframe {
    max-width: 100%;          /* O vídeo ocupa 100% da largura em telas pequenas */
    height: auto;              /* Altura ajustada automaticamente para manter proporção */
    margin-left: 0;           /* Remove a margem esquerda no vídeo */
  }
}
  
  /* Responsividade */
  
  @media (max-width: 768px) {
    .Conteudo {
      flex-direction: column;   /* Muda a direção para coluna em telas pequenas */
      align-items: center;      /* Alinha os itens ao centro */
    }
  
    .Texto-conteudo, .imagem-video {
      max-width: 100%;          /* Ambos os itens ocupam 100% da largura em telas pequenas */
    }
  
    .Texto-conteudo {
      margin-bottom: 20px;      /* Adiciona margem abaixo do texto para separar da imagem */
    }
  }
  
  
  /* Galeria de Fotos*/
  
  .galeria{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      z-index: 1; /* Fica atrás do conteúdo principal */
      position: relative; /* Necessário para o z-index funcionar */
    }
    
    .imgGaleria {
      margin-top: 50px;
      overflow-y: hidden;
      display: flex;
      width: 100%;
      height: 420px;
      padding-bottom: 2px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;  /* Garante que a rolagem "grude" nas imagens */
      scroll-behavior: smooth;  /* Rolagem suave */
      z-index: 2; /* Coloca acima do fundo */
    }
    
    .slide_div{
      flex-shrink: 0; /* Impede as imagens de encolher */
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px 0 20px;
    }
    
    .imgGaleria .img {
      user-select: none; /* Impede a seleção de texto e evita o fundo azul */
      position: relative;              /* Define a posição do elemento como relativa, permitindo o uso de posicionamento absoluto em elementos filhos, se necessário */
      height: 371px;                  /* Define a altura da imagem como 370px */
      width:  599px;                  /* Define a largura da imagem como 240px */
      transition: 0.7s;                 /* Adiciona uma transição suave de 0.7 segundos para quaisquer mudanças de propriedades */
      background-color: rgba(0, 0, 0, 0.4);  /* Define uma cor de fundo com opacidade de 40%, criando um sombreado levemente escuro */
      border-radius: 20px;             /* Aplica um raio de borda de 20px, arredondando os cantos da imagem */
    }
    
    .imgGaleria .img:hover {
      transform: scale(1.05);           /* Opcional: aumenta ligeiramente a imagem quando o mouse passa sobre ela */
    }
    
    
    /* Personalizando a barra de rolagem */
  
    .imgGaleria::-webkit-scrollbar {
      height: 8px;  /* Define a altura da barra de rolagem horizontal */
    
    }
    
    .imgGaleria::-webkit-scrollbar-thumb {
      background-color:  #238774;  /* Cor do "thumb" da barra de rolagem */ 
      border-radius: 10px;
      transition: background-color 0.3s ease;
    }
    
    .imgGaleria::-webkit-scrollbar-thumb:hover {
      background-color: #ffffff;   /* Cor do "thumb" ao passar o mouse */
    }
    
    .imgGaleria::-webkit-scrollbar-track {
      background-color: rgba(139, 139, 139, 0.233);
      border-radius: 10px;
    
    }

    /* Responsividade para telas menores (tablet e mobile) */
@media (max-width: 768px) {
  .imgGaleria {
    height: 320px; /* Reduz a altura da galeria em telas menores */
  }

  .imgGaleria .img {
    height: 271px; /* Reduz a altura das imagens */
    width: 499px; /* Reduz a largura das imagens */
    margin: 0 15px; /* Ajusta a margem das imagens */
  }

  .slide_div {
    margin: 0 10px; /* Ajusta a margem entre os slides */
  }
}

/* Responsividade para telas muito pequenas (celulares pequenos) */
@media (max-width: 480px) {
  .imgGaleria {
    height:320px; /* Reduz a altura da galeria em telas muito pequenas */
  }

  .imgGaleria .img {
    height: 271px; /* Reduz ainda mais a altura das imagens */
    width: 399px; /* Reduz ainda mais a largura das imagens */
    margin: 0 10px; /* Ajusta a margem das imagens */
  }

  .slide_div {
    margin: 0 5px; /* Ajusta a margem entre os slides */
  }
}
  
    
  /* Conteudo sobre os personagens */
  
    .Texto2 {
      margin-top: 100px;
      position: relative; /* Necessário para o z-index funcionar */
      text-align: center;
      z-index: 1;
      position: relative; /* Necessário para o z-index funcionar */
      color: #ffffff;
    }
  
  .Texto2 .titulo {
      margin-right: 50px;
       font-size: 30px;
      margin-bottom: 10px; /* Controle melhor do espaçamento entre título e subtítulo */
    }
    
  .Texto2 .subtitulo {
      margin-left: 80px;
      font-size: 40px;
      font-family: 'Retro Gaming', sans-serif;
      margin-top: 0; /* Caso precise ajustar o espaço do subtítulo em relação ao título */
    }

    /* Responsividade para telas menores (tablet e mobile) */
@media (max-width: 768px) {
  .Texto2 {
    margin-top: 60px; /* Reduz o espaçamento entre o topo e o texto */
  }

  .Texto2 .titulo {
    font-size: 22px; /* Ajusta o tamanho da fonte do título */
    margin-right: 20px; /* Reduz o espaçamento à direita */
  }

  .Texto2 .subtitulo {
    font-size: 26px; /* Ajusta o tamanho da fonte do subtítulo */
    margin-left: 20px; /* Reduz o espaçamento à esquerda */
  }
}

/* Responsividade para telas muito pequenas (celulares pequenos) */
@media (max-width: 480px) {
  .Texto2 {
    margin-top: 40px; /* Reduz ainda mais o espaçamento */
  }

  .Texto2 .titulo {
    font-size: 22px; /* Tamanho menor para o título em telas pequenas */
    margin-right: 0; /* Remove o espaçamento à direita */
  }

  .Texto2 .subtitulo {
    font-size: 28px; /* Tamanho menor para o subtítulo */
    margin-left: 0; /* Remove o espaçamento à esquerda */
  }
}
  
  /* Estilo para o contêiner das imagens */
  
  .personagens {
    display: flex;
    justify-content: space-between; /* Espaço entre os personagens */
    margin-top: 80px;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas menores */
    z-index: 1;
    position: relative;
  }
  
  /* Estilo individual para cada personagem */
  
  .personagem {
    text-align: center;
    width: 30%; /* Cada item ocupa 30% do espaço, para três itens na mesma linha */
    margin-bottom: 50px; /* Adiciona espaço na parte inferior */
    box-sizing: border-box; /* Para garantir que a largura inclui padding e borda */
  }
  
  /* Contêiner para imagem e descrição */
  
  .imagem-container {
    width: 334px;
    height: 369px;
    display: inline-block;
    position: relative; /* Necessário para sobrepor a imagem e o card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    border-radius: 15px; /* Bordas arredondadas */
  }
  
  /* Estilo para as imagens */
  
  .imagem-container img {
    width: 100%; /* A imagem vai preencher toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px; /* Bordas arredondadas */
  }
  
  /* Estilo do card de descrição */
  
  .descricao {
    background: #ffffff; /* Fundo branco */
    border-radius: 0 0 15px 15px; /* Bordas arredondadas apenas na parte inferior */
    padding: 15px;
    text-align: center;
    position: absolute; /* Posiciona o card sobre a imagem */
    bottom: 0; /* Coloca a descrição no fundo do contêiner */
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    box-sizing: border-box;
  }
  
  /* Estilo do texto dentro do card */
  
  .descricao p {
    margin: 0;
    font-size: 16px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Efeito de hover no contêiner */
  
  .imagem-container:hover {
    transform: scale(1.1); /* Aumenta o tamanho do contêiner */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra maior */
  }
  
 /* Responsividade para telas de 768px ou menores */
 @media (max-width: 768px) {
  .personagens {
    justify-content: center; /* Alinha os itens ao centro em telas menores */
  }

  .personagem {
    width: 70%; /* Aumenta a largura para 45% em telas menores */
    margin-bottom: 50px; /* Mantém o espaço na parte inferior */
  }

  .imagem-container {
    width: 90%; /* Ajusta a largura da imagem para caber em telas menores */
    height: auto; /* Ajusta a altura proporcionalmente */
  }
}

/* Responsividade para telas de 480px ou menores */
@media (max-width: 480px) {
  .personagens {
    justify-content: center; /* Alinha os itens ao centro */
  }

  .personagem {
    width: 70%; /* Aumenta a largura para 90% em telas muito pequenas */
    margin-bottom: 30px; /* Ajusta o espaço inferior */
  }

  .imagem-container {
    width: 80%; /* A imagem ocupa toda a largura disponível */
    height: auto; /* Ajusta a altura proporcionalmente */
  }
}


/* Estilos para o rodapé */

footer {
  background-color: #161818;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 120px;
  z-index: 1;
  position: relative; /* Necessário para o z-index funcionar */
}

/* Container geral para os itens do rodapé */

.footer-container {
  display: flex;
  justify-content: space-between; /* Espaça os itens nas extremidades */
  align-items: center;
  gap: 30px; /* Espaçamento entre os itens */
}

/* Redes sociais do rodapé */

.socialmedia2 {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  gap: 20px; /* Espaçamento entre os ícones */
}

.socialmedia2 a {
  text-decoration: none;
}

.socialmedia2 img {
  width: 41px;
  height: 38px;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}

.socialmedia2 img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Rede sociais no rodapé */

.nav2 a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* Texto no rodapé */

.nav2 p {
  margin-top: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* Logos do jogo no rodapé */

.logosdojogo {
  position: absolute; /* Fixar a posição na tela */
  bottom: 40px; /* Distância da parte inferior */
  right: 30px; /* Distância da parte direita */
  display: flex;
  align-items: center;
  gap: 15px; /* Espaçamento entre os logos */
  z-index: 1; /* Garantir que o container fique acima de outros elementos */
}

.logosdojogo a {
  text-decoration: none;
}

.logosdojogo .unity-logo img,
.logosdojogo .trex-logo img {
  opacity: 0.5; /* Define a opacidade inicial */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transições suaves para opacidade e transform */
  height: auto; /* Mantém a proporção da imagem */
}

.logosdojogo .unity-logo img {
  width: 41px;
  height: 38px;
}

.logosdojogo .unity-logo:hover img {
  opacity: 1; /* Aumenta a opacidade no hover */
  transform: scale(1.1); /* Efeito de zoom */
}

.logosdojogo .trex-logo img {
  width: 120px; /* Largura fixa para o logo do T-Rex */
  margin-left: 15px; /* Ajuste de margem entre os logos */
}

.logosdojogo .trex-logo:hover img {
  opacity: 1; /* Aumenta a opacidade no hover */
  transform: scale(1.1); /* Efeito de zoom */
}

/* Separador entre os logos */

.logosdojogo .separator {
  width: 4px;
  height: 20px; /* Altura do separador */
  background-color: white;
  margin: 0 15px;
  opacity: 0.5; /* Define a opacidade inicial do separador */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave no hover */
}

.logosdojogo .separator:hover {
  opacity: 1; /* Aumenta a opacidade do separador */
  transform: scale(1.1); /* Efeito de zoom */
}

/* Responsividade para telas pequenas */

@media (max-width: 768px) {
  footer {
    width: 100%;
    height: 200px;
    padding: 20px 10px; /* Ajusta o padding do rodapé para telas pequenas */
  }

  /* Muda para coluna quando em telas pequenas */

  .footer-container {
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens */
    gap: 20px; /* Espaçamento entre os itens */
  }

  /* Redes sociais do rodapé */

  .socialmedia2 {
    position: relative; /* Muda a posição das redes sociais para relativo */
    top: 0;
    left: 0;
    justify-content: center; /* Centraliza os ícones */
    gap: 10px; /* Menor espaçamento entre os ícones */
  }

  /* Ajuste no alinhamento do texto */

  .nav2 {
    text-align: center; /* Garante que o texto esteja centralizado */
  }

  /* Ajuste na posição dos logos */
  
  .logosdojogo {
    position: relative; /* Muda a posição das redes sociais para relativo */
    top: 5px;
    left: 0;
    justify-content: center; /* Centraliza os ícones */
    gap: 10px; /* Menor espaçamento entre os ícones */
  }

  .logosdojogo .separator {
    display: none; /* Oculta o separador entre os logos */
  }
}
/* Imagem de Fundo para o site */
